<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>2_JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
<!-- 04_pizza 모범답안 -->
<servlet>
	<servlet-name>pizza</servlet-name>
	<servlet-class>com.kh.practice.PizzaServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>pizza</servlet-name>
	<url-pattern>/confirmPizza</url-pattern>
</servlet-mapping>
<!-- 매핑 설정 끝났으니 서블릿클래스에서 지정한 해당 클래스로 가자 -->


<!-- 04_pizza2 모범답안 -->
<servlet>
	<servlet-name>pizza2</servlet-name>
	<servlet-class>com.kh.practice.PizzaServlet2</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>pizza2</servlet-name>
	<url-pattern>/confirmPizza2</url-pattern>
</servlet-mapping>

  
</web-app>