<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >



<configuration>


	<settings>
	<!-- null값을 제대로돈 널값으로 인지시킬 수 있게 하는 코드
	이코드 세팅안하면 db에서 null가능해도 마이바티스에서 인지가 안되기에 에러발생함 -->
		<setting name="jdbcTypeForNull" value="NULL"/>  
	</settings>


	<typeAliases>
		<typeAlias type="com.kh.Spring.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.Spring.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.Spring.board.model.vo.Reply" alias="Reply"/>
	</typeAliases>


	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
	
	</mappers>










</configuration>
