<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>02_BasicGrammar</title>

<style>.area{border: 1px solid red; height: 180px;}</style>

</head>
<body>

    <h1>기본 문법</h1>
    <hr><hr>


    <h2>변수와 자료형</h2>
    <h3>변수 선언</h3>
    <p>

<br>지역변수<br>
    함수 내부에서 'var 변수명;'으로 선언하면 지역변수가 됨 <br>

<br>전역변수<br>
    함수 내부에서 '변수명;'으로 선언하거나 함수 밖에서 '변수명;' 혹은 'var 변수명;'으로 선언하면 전역변수가 됨<br>

<br>우선권 : 지역변수<br>
    전역변수와 지역변수가 동일한 이름인 경우 함수 내부에서 변수 명을 호출하면 지역변수가 우선권을 가짐<br>
    
<br>전역변수와 지역변수 구분하는 코드<br>
    전역 변수 사용 시 'window. 변수 명;' 혹은 'this.변수 명;'으로 표현하여 지역변수와 구분<br>
    전역변수는 해당 window내에서 어디든 사용할 수 있으며, 지역변수는 해당 함수 내에서만 사용 가능

    지역변수 : 함수 내부에서 'var 변수명;'
    전역변수 : 함수 내부에서 '변수명;'
    전역변수 : 함수 밖에서 '변수명;' 혹은 'var 변수명;'   
 
    
        window.this. : 전역변수와 지역변수 구분하는 코드
            전역 변수 사용 시 'window. 변수 명;' 혹은 'this.변수 명;'으로 표현하여 지역변수와 구분
            전역변수는 해당 window내에서 어디든 사용할 수 있으며, 지역변수는 해당 함수 내에서만 사용 가능
    
        window.onload = function() : 페이지가 로드되면 자동으로 실행하는 함수
            한 페이지에서 하나의 onload함수만 기술 가능
            페이지가 로드가 되면 한번에 여러개 실행되고 싶으면 한번에 하나만 가능해서
            단점으로 생각해서 제이쿼리에서 여러개 실행가능하게 만들어둠

    </p>


    <script>
        // 함수 외부
        str1 = "전역변수";
        var str2 = "var전역변수";
        
        window.onload = function(){
            var str1 = "지역변수1"
            var str3 = "지역변수2"

            console.log('str1 : ' + str1);              /* 지역 변수 */
            console.log('this.str1 : ' + this.str1);    /* 함수 안에서 사용할 수 있는 전역변수 */
            console.log('window.str1 : ' + window.str1);/* 전역변수 : 함수 내부에서는 전역변수를 this.나 window.을 찍어서 구분해줘야한다 */
            // 자바 때, 매개변수도 지역변수. 구분을 위해서 this썼었음
            // js도 위처럼 this나 window 써서 구분해줌

            console.log('str2 : ' + str2);               // var전역변수
            console.log('this.str2 : ' + this.str2);     // var전역변수
            console.log('window.str2 : ' + window.str2); // var전역변수

            console.log('str3 : ' + str3);               // 지역변수
            console.log('this.str3 : ' + this.str3);     // undefined : 없다는 얘기 // 지역변수인데 전역변수 구분용 접두어를 붙여놨으니 undefined
            console.log('window.str3 : ' + window.str3); // undefined  : js에서는 정의가 안된 데이터 '취급'함
            
            what = '난 뭘까?';  // 전역변수
            showWhat();         
            // 지역변수 : 함수 내부에서 'var 변수명;'
            // 전역변수 : 함수 내부에서 '변수명;'
            // 전역변수 : 함수 밖에서 '변수명;' 혹은 'var 변수명;'    

        }

        function showWhat(){    
            console.log(what);          // 난 뭘까?                
            console.log(this.what);     // 난 뭘까? 
            console.log(window.what);   // 난 뭘까?
        }
    </script>
        




        
    <h3>자료형</h3>

    <h3>자료형</h3>
    <p>자바스크립트에서는 자료형 별로 변수 타입이 지정되지 않고 리터럴에 의해서 자료형 결정</p>
    <button onclick="typeTest();">자료형 테스트</button>
    <script>
        function typeTest(){
            var name = "강건강";                    // 문자열
            var age = 20;                           // 숫자
            var check = true;                       // 논리값        
            var hobby = ['축구', '야구', '농구'];    // 배열
            var user = {                            // 객체   
                name: '강건강',
                age: 20,
                id: 'user01'              
            };
            var testFunction = function(num1, num2){
                var sum = num1 + num2;
                alert(sum);
            };
            
            // 콘솔창에서 '값' 확인
            console.log(name);
            console.log(age);
            console.log(check);
            console.log(hobby);     // (3) ['축구', '야구', '농구']
            console.log(user);      // {name: '강건강', age: 20, id: 'user01'}
            console.log(testFunction); // ƒ (num1, num2){
                                       //                var sum = num1 + num2;     
                                       //                 alert(sum);
                                       //               }          
                
                
            


            // 콘솔창에서 '타입' 확인
            console.log(typeof(name));  // string
            console.log(typeof(age));   // number
            console.log(typeof(check)); // boolean
            console.log(typeof(hobby)); // object   // array
            console.log(typeof(user));  // object
            console.log(typeof(testFunction));  // function
            // typeof연산자 : 값의 자료형을 확인하는 연산자
        }

    </script>

    <h2>데이터 형변환</h2>
    <h3>문자열과 숫자의 +연산</h3>
    <!-- 문자열과 숫자가 연산하면 str화된다 -->
    <p>문자열과 숫자가 연산하면 str화된다</p>
    <button onclick="testPlus();">문자열과 숫자의 +연산</button>
    <script>
        function testPlus(){
            var test1 = 7 + 7;          
            var test2 = 7 + '7';        
            var test3 = '7' + 7;        
            var test4 = '7' + '7';      
            var test5 = 7 + 7 + '7';    
            var test6 = 7 + '7' + 7;    
            var test7 = '7' + 7 + 7;
            var test8 = '7' +(7 + 7);    
            console.log(test1);         // 14
            console.log(test2);         // 77
            console.log(test3);         // 77
            console.log(test4);         // 77
            console.log(test5);         // 147
            console.log(test6);         // 777
            console.log(test7);         // 777
            console.log(test8);         // 714

            // 자바와 int +s tring의 로직 동일

            // 개발자 툴(f12) 콘솔창 결과에서 글씨색이
            // 숫자나 불린값은 살짝 푸른빛
            // str은 검은색

            // 강제 형변환 : Number(), parseInt(), parseFloat()...
            console.log(test2 + 1);                 // 771
            console.log(Number(test2) + 1);        // 78 // 문자이기에 형변환 필요
            console.log(parseInt(test2) + 2);       // 79
            console.log(parseFloat(test2) + 3);     // 80
            
        }
    </script>




    <br><hr><br>




    <h2>연산자</h2>
    <h3>자바와는 다른 연산자</h3>
    <h4>===와 ==</h4>
    <p> === : 값과 자료형 둘 다 일치하는지 비교
        !== : 값과 자료형 둘 다 일치하지 않는지 확인할 때 사용</p>
    <button onclick="opTest();">확인하기</button>
    <script>
        function opTest(){
            var check1 = 1;
            var check2 = '1';

            // == 비교
            console.log('check1 == 1 :' + (check1 == 1));       // check1 == 1 :true
            console.log('check1 == "1" :'  + (check1 == '1'));  // check1 == "1" :true
            console.log('check2 == 1 : ' + (check2 == 1));      // check2 == 1 :true
            console.log('check2 == "1" : ' + (check2 == '1'));  // check2 == "1" :true
            // 값을 비교할 때, 위처럼 숫자로 변환 가능한 문자를 숫자랑 비교하면 true로 인지해줌
            // 어느정도 허용적인거지 나중에 철저히 해야 에러발생x // 애매해서 안하는걸 추천
            // JS에서는 비교를 순수 값으로 함. 주소값으로 비교하지 않음


            // === 비교 =========================================확인할 것 강의시간 10:45
            console.log('check1 === 1 :' + (check1 === 1));       // check1 == 1 :true
            console.log('check1 === "1" :'  + (check1 === '1'));  // check1 == "1" :false
            console.log('check2 === 1 : ' + (check2 === 1));      // check2 == 1 :false
            console.log('check2 === "1" : ' + (check2 === '1'));  // check2 == "1" :true

            // === : 값과 자료형 둘 다 일치하는지 비교

            // == 연산자를 이용하여 서로 다른 유형의 두 변수의 [값] 비교
            // ==='는 엄격한 비교를 하는 것으로 알려져 있다 ([값 & 자료형] -> true)
            // https://velog.io/@filoscoder/-%EC%99%80-%EC%9D%98-%EC%B0%A8%EC%9D%B4-oak1091tes 참조
            
        }        
    </script>




    <br><hr><br>




    <h2>조건문과 반복문</h2>
    <h3>조건문</h3>
    <h4>if</h4>
    <button onclick="ifTest();">if버튼</button>
    <script>
        // 실습 예제
// 당신의 성별은 무엇입니까? 라고 묻는 알람창이 뜨고 그 알람창에는 값을 입력할 수 있는 필드가 있음
// 필드에는 '남자/여자'라는 값이 자동으로 들어가 있는 상태
// 남자라고 입력하면 "XY입니다", 여자라고 입력하면 "XX입니다", 둘다 아니면 "잘못 입력했습니다"
// 라는 문구가 알람창으로 뜨게 하기
         function ifTest(){  
            var gender = prompt('당신의 성별은 무엇입니까?','남자/여자');
            
                if(gender == '남자'){
                    console.log("XY입니다")
                }else if(gender == '여자'){     
                    console.log("XX입니다")
                }else{
                    console.log("잘못 입력했습니다")
                }
// 당신의 성별은 무엇입니까? 라고 묻는 알람창이 뜨고 그 알람창에는 값을 입력할 수 있는 필드가 있음
// 필드에는 '남자/여자'라는 값이 자동으로 들어가 있는 상태  
//    -> var gender = prompt('당신의 성별은 무엇입니까?', '남자/여자');
         }
    </script>



    <h4>switch</h4>
    <button onclick="switchTest();">switch문</button>
    <script>
        function switchTest(){ 
            var month = Number(prompt("현재는 몇 훨입니까?")); // // prompt가 문자열 반환이라 문자를 숫자로 바꿔줘야함.
            console.log(typeof(month));  // 디버깅용 타입확인. 숫자인 것 같은데 비교가 안되는 상황이 자주 발생하니
            var day;
            switch(month){
                case 1: case 3: case 5: case 7: case 8: case 10: case 12:
                    day = 31; break;
                case 4: case 6: case 9: case 11:
                    day = 30; break;
                case 2:
                    day = 28;
                }
                alert(month + "월은 " + day + "일까지입니다.");
            }
            
    // '현재는 몇 휠입니까? '라고 묻는 알람창이 뜨고 그 알람창에는 값을 입력할 수 있는 필드가 있음
    // 입력을 하고 나면 'M월은 N일까지입니다' 라는 결과가 알람창에 뜨게 하기

    </script>



    <br><hr><br>



    <h3>반복문</h3>
<!--    
    자바스크립트 반복문 종류

    1. for: 고전적인 for문
    2. for in : 객체의 프로퍼티 키 열거 전용
    3. for of : 이터러블 순회 전용
    4. forEach() : 배열 순회 전용 메서드
    5. while : 고전적인 while문
    6. do while : 고전적인 do...while문
    7. Object 객체 메서드 : 객체 순회 전용
    8. Array.prototye 메서드 : 배열 전용
    https://curryyou.tistory.com/202
 -->
   
    <h4>for</h4>
    <button onclick="forTest();">for문</button>
    <script>
        function forTest(){
            var result = '';
            for(var i = 1; i<=10; i++){
                result += i + ' ';
            }
            alert(result);  // 1 2 3 4 5 6 7 8 9 10출력
        }
    </script>
   
   
   
    <h4>while문</h4>
    <button onclick="whileTest();">while문</button>
    <script>
		function whileTest(){
			var result = '';
			var i = 1; 
			while(i<=10){
				result += i + ' ';
				i++;
			}
			alert(result);   // 1 2 3 4 5 6 7 8 9 10
		}
    </script>

   
   
   
    <h4>for in문</h4>
    <button onclick="forInTest();">for in문</button>    <!-- 자바 foreach랑 비슷함 -->
    <script>
        function forInTest(){
            var result = '';
            var array = ['A', 'B', 'C', 'D', 'E'];

            for(var i in array){    // i의 디폴트값 0
                // for in문에서 배열을 가지고 사용할 때, 앞에 있는 변수(i)에 담기는 값은 배열의 인덱스가 담김
                console.log(i);     // 01234 <- 배열의 인덱스
                result += array[i] + ' ';
            }
            alert(result);          // A B C D E 


// for in문에서 배열을 가지고 사용할 때, 앞에 있는 변수(i)에 담기는 값은 배열의 인덱스가 담김
// for in문에서 객체를 가지고 사용할 때, 앞에 있는 변수(i)에 담기는 값은 객체의 키가 담기게 됨. 

           /* 
            // 자바에서 이런식으로 사용
            for(Emp e : list){
                System.out.prinln(e);   
            }
            
            */
        }
    </script>











</body>
</html>








