<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>05_Object</title>
</head>
<body>


    <h1>객체</h1>
    <h2>객체 선언 및 호출</h2>
    <p>
        중괄호{}를 사용하여 객체를 생성하고, 속성에는 모든 자료형이 올 수 있음<br>
        객체는 키 값을 사용하여 속성 식별
    </p>
    <button onclick="test1();"> 객체 생성 </button>
    <script>
        function test1(){
            var product = {         // 중괄호 { } : 객체
                pName: 'Dry Mango',
                type: 'pickle',
                ingredient:['mango', 'sugar'],
                origin: 'Philippines'
            };
            console.log(product);


            // 객체 안의 속성 접근 2가지 방법
            // 1)객체명['속성명']
            // // 띄어쓰기도 사용가능
            console.log(product['pName']);
            console.log(product['type']);
            console.log(product["ingredient"]);
            console.log(product["origin"]);

            // 2)객체명.속성명
            // 띄어쓰기가 있을 경우 에러발생
            console.log(product.pName);
            console.log(product.type);
            console.log(product.ingredient);
            console.log(product.origin);


            // 연습
            console.log(product["ingredient"]);
            console.log(product.origin);


            // 속성접근 방법의 차이
            // 2가지가 존재하는건 이유가 있다
            var objTest = {
                'k$ey':'value1',
                'k_ey':'value2',
                'k ey':'value3',
            };

            console.log("======")
            console.log(objTest['k$ey']);       //  객$체명
            console.log(objTest['k_ey']);       //  객_체명
            console.log(objTest['k ey']);       //  객 체명

            
            console.log(objTest.k$ey);
            console.log(objTest.k_ey);
            //console.log(objTest.k ey);    //  에러 
            // 키에 특수문자 대괄호로 감싸줘야함
            // 키로써 모든게 완벽할 때 .쓸 수있지만, 띄어쓰기는 키 자체가 불완전하기 때문에 에러
            // 띄어쓰기 쓸려면 []로 속성에 접근해야함

        }
    </script>





    <h3>객체의 메소드 속성</h3>
    <button onclick="test2();">실행확인</button>
    <script>
        function test2() {
            var satoori = {         // 중괄호{ } : JS의 객체
                area1:'전라도',     // area1:'전라도'을 필드라고 볼 수 있음
                area2:'경상도',
                song: function(act){    // 함수. song은 함수를 가지고 있기 때문에 메소드 역할을 함
                    var area2 = '강원도'; 
                    console.log(this.area1 + '와 ' + this.area2 + '는 ' + act); // 객체 안의 area1 ,area2, 매개변수로 받아온 act 출력
                }   // this를 붙이기 싫으면 변수 선언을 이 안에서 해줘야함.
            };      // this가 있어야 객체 안에있는 속성을 찾음. 
                    // this를 붙이면 경상도, 안붙이면 강원도 

            satoori.song('사이가 좋다'); // area1 is not defined 에러
            // 객체를 변수satoori에 넣었고, 이 변수를 호출 했는데 에러발생
            // why? 
            // 객체 안에서 내 속성을 호출할 때는 반드시 앞에 this.가 들어가있어야함
            
            // 객체 내에서 쓰면 내 속성을 호출하는거기 때문에 
            // 여기에서는 객체 안에서 쓰면 외부에 있는 내 속성을 호출할 때 쓰는 것
            // this를 안붙이고 쓸려면 function(act)안에 area1,2가 존재해야한다
            // this가 있어야 객체 안에 속성을 찾음 -> 객체 안 함수의 내에서 함수 밖이자 객체 안의 속성값을 쓸려면 this를 붙여야한다
            
            // this 있으면 함수 외부(객체의 속성)
            // this 없으면 함수 내부
    }
    </script>



    <h3>객체와 반복문</h3>
    <p>객체의 속성을 살펴볼때는 단순 for문으로는 불가능하고 for in문 사용해야함</p>
    <p>
    for in문 '배열' 사용 시, 앞에 있는 변수(i)에 담기는 값은 '배열의 인덱스'가 담김 -> i는 int<br>
    for in문 '객체 사용 시, 앞에 있는 변수(i)에 담기는 값은 객체의 키가 담기게 됨 -> i는 객체의 키값<br>
    </p>
    <button onclick="test3();">객체와 반복문 - 객체 속성 -> for in문</button>
    <script>
        function test3() {
            var movie = {
                title:'신비한 동물들과 덤블도어의 비밀',
                release: '2022-04-13',
                director: '데이빗 예이츠',
                mainActor: ['에디 레드메인','주드 로','매즈 미켈슨','댄 포글러','앨리슨 수돌'],
                screening : true
            };

// for in문에서 배열을 가지고 사용할 때, 앞에 있는 변수(i)에 담기는 값은 배열의 인덱스가 담김
// for in문에서 객체를 가지고 사용할 때, 앞에 있는 변수(i)에 담기는 값은 객체의 키가 담기게 됨  
            for(var i in movie) {
                console.log(i); // 객체의 key값들이 찍힘. title release director mainActor screening
                console.log(i + " : " + movie[i]); // i = 키값 + movie[i] = 밸류값
            }
            // 비어있는 객체
            // {}
        }
    </script>



    <h2>객체 속성 추가 및 제거</h2>
    <p>
        처음 객체 생성 이후 속성을 추가하거나 제거하는 것을     <br>
        '동적으로 속성을 추가/제거한다'라고 함                  <br>
    </p>
    <button onclick="test4();">객체 속성 추가 & 제거</button>
    <script>
        function test4() {
            var student = {};     // 비어있는객체              
            console.log(student); // {}

            // 설명
            student.name                //스튜턴드의 네임을 가져오는 코드
            console.log(student.name);  // undefined
            student.name = '강건강';    //스튜턴드의 네임을 가져온 것에 강건강을 집어넣은 것
                                        //속성도 만들어주고 값도 집어넣는 것

            // 객체 속성 추가 방법1 : .으로 객체 안 속성 접근하는 방법
            student.name = '강건강';    // {name:강건강} // key=name value='강건강'
            // student.name 코드는 원래는 스튜던트에있는 name을 가져오는거였는데,
            // = 으로 값을 대입하고 있으니
            // student라는 객체의 name 이라는 속성에 강건강을 집어넣음. 
            // 이런식으로 값도 넣을 수 있다는것임.
            student.hobby = '운동'; // {hobby:운동}

            // 객체 속성 추가 방법2 : 대괄호[]로 객체 안 속성 접근하는 방법
            student['strength'] = '100m 달리기'; // 객체{} 안에 
            student['dream'] = '체육관 관장';    // 키값 'strength'와 밸류값 100m 달리기'를 추가

            // 객체 속성 추가 완료 및 확인
            console.log(student); // {name: '강건강', hobby: '운동', strength: '100m 달리기', dream: '체육관 관장'}
            console.log('--------');

            // 강의 시간 11:03
            // toStrirng이라는 이름의 함수를 만든 것
            // 이 객체는 객체의 대표값을 나타내겠구나
            // 이름만 보고 어떤 기능을 하는지 알 수 있기 위해 toString으로 지은 것임. 자바 override toString과 다름
            student.toString = function() { // toString이라는 메소드를 만들어주는것.  
                var str = '';               // 그 객체의 대표값을 나타내는구나 알수 있으니 toString으로 이름을 해주는것. 
                
                for(var key in this){       // this는 student를 의미함. function이 이미 객체안에 있는 속성이므로 student객체를 명시하는 대신 this를 사용
                    if(key != 'toString'){  // 강의시간 11:19   // if문 추가이유 : toString 빼고 나머지 넣으라고. if문 조건을 제거하면  student.toString = function() {}안의 내용이 다나옴
                        str += key + " : " + this[key] + " // ";  // this[key] : student의 속성을 가져온다는 의미 ex)'운동','100m 달리기'
                    }
                }
                return str; // 키값 전부 연결된 문자열 담은 변수 리턴.
                
                // for(var key in student){
                //     console.log(key);
                //     console.log(student[key]);
                // }
            }
            console.log("====");
            console.log(student.toString());
            


            // 객체 속성 제거
            // delete(변수명.키명);
            delete(student.hobby); // delete(변수명.키명);
            delete(student['hobby']); // delete(변수명.키명);


            console.log(student);   // 하비 삭제된채로 잘 나옴

            // 위에 삭제하기 전 console.log 호출했을 때, hobby가 삭제된채로 출력된게 왜 그렇게 적용이 된건지
            // 이게 왜 일어났는지 이 상황을 이해하려면 prototype(콘솔에서 나오는 그 프로토타입)과 hoisting 공부해야함
            // 프로토타입은 많이 어려워서 먼저 공부할거면 hoisting만 추천
            // js를 깊게 공부하고 싶다면 hoising,prototype 공부 // 몰라도 js 사용가능

            // 선언하고 할당을 분리시키는 것
            // hoisting : 선언과 할당을 나눠서 하는 것

            // 나중에 그 값들을 채워넣는 것. 분리해서 하는걸 hoising이라고 함
            // 분리한거에 따라서 undefined가 뜰 수 있는데 hoising 때문
        }
    </script>



<h2>객체배열</h2>
<button onclick="test5();">객체 배열</button>
<script>
    function test5() {
        var student0 = {name:'강건강', java:85, oracle:13, HTML:94, CSS:53, js:99};
        var student1 = {name:'남나눔', java:39, oracle:75, HTML:14, CSS:78, js:47};
        var student2 = {name:'도대담', java:42, oracle:87, HTML:85, CSS:14, js:74};
        var student3 = {name:'류라라', java:85, oracle:15, HTML:95, CSS:41, js:55};
        var student4 = {name:'문미미', java:34, oracle:95, HTML:45, CSS:81, js:85};
        var student5 = {name:'박보배', java:37, oracle:56, HTML:75, CSS:83, js:68};
        var student6 = {name:'송성실', java:94, oracle:34, HTML:24, CSS:65, js:86};
        var student7 = {name:'윤예의', java:66, oracle:45, HTML:22, CSS:89, js:98};
        var student8 = {name:'정재주', java:13, oracle:61, HTML:94, CSS:78, js:79};
        var student9 = {name:'차청춘', java:95, oracle:65, HTML:74, CSS:97, js:66};

        var students = [];
        students.push(student0);  // Array.push() : 배열 추가
        students.push(student1);
        students.push(student2);
        students.push(student3);
        students.push(student4);
        students.push(student5);
        students.push(student6);
        students.push(student7);
        students.push(student8);
        students.push(student9);
      
    // 배열 추가 : Array.push(), Array.unshift(), Array.splice()
    // 배열 삭제 : Array.pop(), Array.shift(), Array.splice()

    // 배열의 객체가 들어가있다 강의 11:43
        console.log(students);
      
      
        for (var i in students) {    // i의 값 : 배열의 인덱스 
            // 학생 과목 총점 도출 함수
            students[i].getSum = function () { // {name:'강건강', java:85, oracle:13, HTML:94, CSS:53, js:99, getSum:sum};
                var sum = 0;
                for(var key in this){   // 객체 안에 들어왔으니 this // this = student0~9
                    if(key != 'name' && key != 'getSum' && key !='getAvg'){
                        sum += students[i][key]; // students[i] : 배열 안에 있는 i번째의 객체
                                                // students[i][key] key라고 하는 객체의 속성값을 가져오겠다는 코드
                    // 숫자들의 합이니 name, getSum 을 빼고 더하겠다. 과목들의 합을 더해서 sum에 담음.
                    }
                }
                return sum;   // 과목들의 합을 담은 sum 리턴
            }
            //i번째에 대한 객체 값

            console.log("========")
            console.log(students[0].getSum); // 요소값으로 function()를 집어넣을 경우, 요소를 출력할 때 펑션 내의 전체 내용이 주석포함해서 출력된다


            // 학생 평점 도출 함수
            students[i].getAvg = function() {
                return this.getSum() / 5;   // this =  students[i]
            }
        }



        // 전체 데이터 출력 기능(@override toString 같은 역할)
        for(var i in students){
            console.log('이름: ' + students[i].name + ', 총점' +students[i].getSum()
                    +", 평균 : "+students[i].getAvg());
        }
    }
    </script>





</body>
</html>











